.about-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  text-align: center;
}

.about-title {
  font-size: 64px;
  color: black;
}

.about-description {
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  color: wheat;
}